doctype html
html(lang="zh-cn")
  head
    title nodejs-cas example
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="author", content="author: vinsonxiao date:2015-8-10")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(http-equiv="cache-control", content="max-age=0")
    meta(http-equiv="cache-control", content="no-cache")
    meta(http-equiv="expires", content="max-age=0")
    meta(http-equiv="expires", content="no-cache")
    meta(http-equiv="pragma", content="no-cache")
  body
    p 恭喜！登陆成功！

    p 当前Session:
    pre #{session}
    p
      a(href='/logout') Logout
    p
      a(href='/api/jobs/1') Api